{% include "header.html" %}
{% block body %}
<div class="panel=heading">

<h2>Add Event <a class="pull-right btn btn-success" href="/index2">Back</a> </h2>

</div>



<div class="panel-body">

<form action="{{ url_for('index2') }}" method="post">

    <div class="form-group">

        <label for="name">Serial no.</label>
        <input type="text" class="form-control" name="slno" id="slno" required = "1"  >
    
    </div>

<div class="form-group">

    <label for="name">Event Name</label>
    <input type="text" class="form-control" name="event_name" id="event_name" required = "1"  >

</div>



    <div class="form-group">

    <label for="name">Event Type</label>
    <input type="text" class="form-control" name="event_type" id="event_type" required = "1" >

</div>




        <div class="form-group">

    <label for="name">Description</label>
    <input type="text" class="form-control" name="desc" id="desc" required = "1" >
        </div>

    <div class="form-group">

        <label for="name">Start date</label>
        <input type="text" class="form-control" name="start_date" id="start_date" required = "1" >

</div>

<div class="form-group">

    <label for="name">End Date</label>
    <input type="text" class="form-control" name="end_date" id="end_date" required = "1" >
</div>


<div class="form-group">

    <label for="name">Fee</label>
    <input type="text" class="form-control" name="fee" id="fee" required = "1" >
</div>


    

    <div class="form-group">
        <input type="hidden" name="id" value="1">

     <input type="hidden" name="action" value="edit">
     <input type="submit" class="btn btn-success" name="submit" value="Add Event">

</div>


</form>


</div>
{% endblock %}
{% include "footer.html" %}